<h1> Projects </h1>
<button><%= link_to 'Add Contestant To Project', "/projects/#{@project.id}/contestants/new" %>

<p><%= @project.name %></p>
<p><%= @project.material %></p>
<p><%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @project.total_contestants %></p>
<p>Average Contestant Experience: <%= @project.contestants.average_years_experience %> years</p>
